*{
    padding: 0;
    margin: 0;
}

#carousel_item{
    z-index: 0;
}

#footer{
    /* padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: sticky;
    bottom: 0px; */
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color:#dee2e6;
}

#navbar{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* background-color:#007bff; */
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.home{
    margin: 30px;
    height: 300px;

}

.carousel-caption {
    bottom: 0px;
    z-index: 10;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.btn{
    z-index: 2;
}

.space-container{
    height: 400px;
}