<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted text-center">@copyright - Team POINT </span>
        <span class="text-muted text-center">‎‎‏‏‎ ‎ ‏‏‎ ‎</span>
        <span class="text-muted text-center"> Project for Hack-Jaipur </span>
        <span class="text-muted text-center"> Icons made by <a href="http://www.freepik.com/"
                title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                www.flaticon.com</a></span>
    </div>
</footer>