<div class="container ">
    <div id="myCarousel" class="carousel slide home" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" id="carousel_item">
                <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <!-- <image href="/components/mentaldisord.jpg" height="300px" width="1000px" /> -->
                    <rect width="100%" height="300px" fill="#17a2b8"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>TODAY IS NOT THE DAY</h1>
                        <p>Think of your actions and their consequences as every action has its consequences.

                             Sharing is one of our biggest strengths. Understanding there is a problem and progressing towards fixing it takes a lot more courage than people think.
                             Come join this community, chat with us. Tell us about yourself. </p>
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Join now</a></p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item container" id="carousel_item">
                <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#20c997"></rect>
                </svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Visit a therapist</h1>
                        <p>
                            Everyone has some risk of developing a mental health disorder, no matter their age, sex, income, or ethnicity.
                            It is important to note that good mental health depends on a delicate balance of factors and that several elements of life and the world at large can work together to contribute to disorders.
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Book Now</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel_item">
                <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#17a2b8"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Diagnosis</h1>
                        <p>Most psychiatrists and psychologists use the Diagnostic and Statistical Manual of Mental Disorders(DSM-5) to diagnose mental health disorders. 
                            This manual includes criteria for hundreds of different disorders. 
                            The therapist or psychiatrist will determine which criteria fit the client’s condition best.</p>
                        <p><a class="btn btn-lg btn-primary" href="https://www.nimh.nih.gov/index.shtml" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <image href="/assets/anxiety.jpg" height="130" width="200" />
                    <!-- <rect width="100%" height="100%" fill="#777"></rect> -->
                    <!-- <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>  -->
                </svg>
                <h2> Anxiety</h2>
                <p>People with these conditions have severe fear or anxiety, which relates to certain objects or
                    situations. Most people with an anxiety disorder will try to avoid exposure to whatever triggers
                    their anxiety.</p>
                <p><a class="btn btn-secondary" href="https://www.webmd.com/anxiety-panic/guide/anxiety-disorders#1" role="button">Learn more »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <image href="/assets/van.jpg" height="160"/>
                    <!-- <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text> -->
                </svg>
                <h2>A tortured Artist</h2>
                <p>Vincent van Gogh's life described according to the characteristics of tortured artists. Do great artists have to suffer for their art?</p>
                <p><a class="btn btn-secondary" href="https://profoundjourney.com/why-van-gogh-poster-child-tortured-artists/" role="button">Learn More »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <image href="/assets/logo.jpg" height="140" width="140"/>
                    <!-- <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text> -->
                </svg>
                <h2>Why Loneliness Matters</h2>
                <p>It's clear that loneliness is closely linked to depression. Recent research has shown that people who are lonely and isolated are more likely to have heart disease and stroke, get immune...</p>
                <p><a class="btn btn-secondary" href="https://www.webmd.com/balance/features/why-lonliness-matters" role="button">Learn More »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Picasso's Blue Period <span class="text-muted"></span></h2>
                <p class="lead">
                    In the latter part of 1901, Picasso sank into a severe depression and blue tones began to dominate his paintings. His psychological state worsened as 1901 continued.
                    Picasso, normally an outgoing socializer, withdrew from his friends. Picasso's bout of depression was to last several years.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <!-- <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                        dy=".3em"></text> -->
                    <image href="/assets/Old_guitarist_chicago.jpg" width="100%" height="100%"/>

                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Social Phobia: Is it that common ? <span class="text-muted"></span></h2>
                <p class="lead">Social anxiety disorder (also known as social phobia) is one of the most common mental disorders, so if you have it, there’s hope. 
                    The tough part is being able to ask for help. Here’s how to know if your social silence has gone beyond shyness to a point where you need to see a doctor.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <!-- <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text> -->
                    <image href="/assets/illustration-kurzgesagt-01.jpg" width="100%" height="100%"/>

                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</div>

<link rel="stylesheet" href="/app/style.css">
<script defer src="/js/jquery-3.4.1.js"></script>