<nav class="custom_nav navbar navbar-expand-lg navbar-light bg-light" style="z-index: 2; ">
  <a class="navbar-brand" href="#">BrainHealth</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" data-component="Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" data-component="Articles">Community<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-component="chat">Chat</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-component="writearticles">Write Articles</a>
          <a class="dropdown-item" href="#" data-component="myarticles">MY Articles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-component="chat">Chat with community</a>
        </div>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div class="ml-auto px-2">
      <span id="nav-username" class="text-secondary font-weight-bold ">username</span>
    </div>
  </div>
</nav>

<script src="/app/navbar.js"></script>
<link rel="stylesheet" href="/app/style.css">